---
layout: homepageTemplate
---
<div class ="post-previews"> 
	{% for post in site.posts %}
	<div class='postBlock'>
	<h3><a href="{{post.url}}">{{ post.title }}</a></h3>
	<h4>{{ post.date | date: "%m.%d.%Y" }}</h4>
	{{ post.image}}
	<div class='postContent'>{{ post.excerpt | markdown}}</div>
	<a href="{{ post.url }}">read more...</a>
	</div>
	{% endfor %}
</div>

<div class="post-list">
	<h4>Posts...</h4>
	<ul>
	  {% for post in site.posts reversed %}
	    <li><a href="{{ post.url}} "> {{post.title}} </a></li>
	  {% endfor %}
	</ul>
</div>

