
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #cccccc;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@font-face {
    font-family: inconsolata;
    src: url(sansation_light.woff);
}

.full-width-page {
	padding-left: 20%;
	padding-right: 20%;
}


.moreButton{
	float:right;
	margin-right: 10%;
}
body {
	font-family: 'Inconsolata', monospace;
	font-size:14px;
	padding: 60px;
}


a {
	color: #ed6663;
}

.postImg {
	border-radius: 1.5vw;
	width: 45vw;
	height: 45vw;
	object-fit: cover;
	vertical-align: top;
	
}

.postBlock {
	padding:1vw;
	height: 50vw;
}

.postContent{
	width: 45%;
	height: 45vw;
	padding-left: 2vw;
	display: inline-block;
	overflow-y:scroll;
/*	background-color: floralWhite;
*/	border-radius: 1.5vw;
}
.internalPostImg{
	width: 20vw;
}

h1 {
	font-family: "Comic Sans MS";
	color: #6f9a8d;
	text-align: center;
	margin-bottom: 6px;
	font-size: 42px;
}


h1:hover {
	text-decoration: underline;
}

h2 {
	text-align: center;
	font-size: 16px;
	margin-top:2vw;
	margin-bottom:1vw;
	font-weight:normal;

}