<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/style.css'>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>

<div> <a href="/index.html" style='color:#6f9a8d;text-decoration: none;'>
<h1>Mistakes Were Made<a target="_blank" href="https://www.mcsweeneys.net/articles/im-comic-sans-asshole">*</a></h1>
</div></a>
<h2>a recovering perfectionist makes good enough crafts (<a href="/about.html" style="text-align: center;">about this blog</a>)</h2>


<img src="/images/needleAndThreadAlt2.svg" alt="needle and thread making a dotted line">


{{ content }}

</body>
</html>